<div
  style="
    height: 50px;
    width: calc(100%-50px);
    margin-left: 50px;
    text-align: center;
    padding-top: 10px;
  "
  *ngIf="doc"
>
  <!-- <button mat-raised-button color="accent" style="margin: 0 5px">Save</button> -->
  <!-- <button mat-raised-button style="margin: 0 5px">Download</button> -->
  <button mat-raised-button color="primary" style="margin: 0 5px;">Share</button>

  <button mat-raised-button color="warn" style="margin: 0 5px;" (click)='leaveDoc()'>Exit</button>
</div>
<div
  class="row"
  style="
    width: calc(100% - 80px);
    height: calc(100% - 50px);
    margin: 10px 20px 10px 60px;
    padding: 10px;
    border: solid 1px purple;
  "
>
  <div class="col-12 col-md-5" *ngIf="doc">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Html">
        <ng-template matTabContent>
          <ngx-monaco-editor
            (onInit)="htmlEditorEvent($event)"
            [options]="editorHtmlOptions"
            (keyup)="editDoc($event)"
            style="height: 70vh; margin: 0; padding: 0; overflow: hidden"
            id="html"
          ></ngx-monaco-editor>
        </ng-template>
      </mat-tab>
      <mat-tab label="Css">
        <ng-template matTabContent>
          <ngx-monaco-editor
            (onInit)="cssEditorEvent($event)"
            [options]="editorCssOptions"
            [(ngModel)]="doc.css"
            (keyup)="editDoc($event)"
            style="height: 70vh; margin: 0; padding: 0; overflow: hidden"
            id="css"
          ></ngx-monaco-editor>
        </ng-template>
      </mat-tab>
      <mat-tab label="Js">
        <ng-template matTabContent>
          <ngx-monaco-editor
            (onInit)="jsEditorEvent($event)"
            [options]="editorJsOptions"
            [(ngModel)]="doc.js"
            (keyup)="editDoc($event)"
            style="height: 70vh; margin: 0; padding: 0; overflow: hidden"
            id="js"
          ></ngx-monaco-editor>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-12 col-md-5" *ngIf="!doc">
    <h3 class="no-doc">Please Select a Project</h3>
  </div>
  <div
    class="col-12 col-md-7"
    style="color: white; padding-top: 50px; min-height: 400px"
  >
    <div class="output grid">
      <iframe id="compiler"></iframe>
    </div>
  </div>
</div>
